.footer-content{
    background-color: #7E370C;
    display: flex;
    margin-top: 100px;
    padding-bottom: 30px;
}

.footer-item{
    justify-content: center;
    text-align: center;
    padding-left: 200px;
    margin: 40px 0 0 0;
}

.footer-item img{
    width: auto;
    height: 100px;
}

.footer-item h5{
    color: white;
}

.footer-item a{
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 2.0;
}

.footer-icon{
    display: flex;
}

.footer-icon img{
    width: auto;
    height: 30px;
    padding-left: 20px;
    margin-top: 20px;
}

.footer-credit{
    background-color: #7E370C;
    opacity: 0.81;
    text-align: center;
    margin-bottom: -20px;
    color: #FFCE45;
    padding: 20px 0 2px 0;
}
